# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Large unnecessary files
static/results/*
!static/results/.gitkeep
static/uploads/*
!static/uploads/.gitkeep

# Ignore local model files
# models/*.pt
# models/*.pth
# models/*.txt

# Distribution / packaging
dist/
build/
*.egg-info/
